<!DOCTYPE html>
<html lang="en" ng-app="PlexWatchSync" ng-strict-di>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/styles.css" />
</head>

<body>
    <div class="container" ng-controller="LoginController">
        <div ng-repeat="error in loginForm.error">
            <div class="alert alert-warning">
                <button type="button" class="close" aria-hidden="true" ng-click="removeError(error)">&times;</button>
                <strong>{{error.title}}!</strong> {{error.error}}
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <form class="form-signin">
                    <h2>Step 1</h2>
                    <div class="form-group">Log in to Plex to fetch the authorization token needed to register with Plex Watched Sync! This first
                        login only fetches the authorization needed to complete the registration in the next step.</div>
                    <div class="form-group"><label>Username</label><input type="text" ng-model="loginForm.username" class="form-control"></div>
                    <div class="form-group"><label>Password</label><input type="password" ng-model="loginForm.password" class="form-control"></div>
                    <div class="form-group"><button ng-click="loginAction()" ng-disabled="loginForm.working" class="btn btn-default">Log in to plex</button></div>
                </form>
            </div>
            <div class="col-md-6">
                <form class="form-signin" ng-show="session.plexData.authToken">
                    <h2>Step 2</h2>
                    <div class="form-group">Ready to <span ng-show="session.plexData.registered">re</span>register with Plex Watched Sync!</div>
                    <ul ng-show="debug">
                        <li>userId: {{session.plexData.userId}}</li>
                        <li>authToken: {{session.plexData.authToken}}</li>
                        <li>registered: {{session.plexData.registered}}</li>
                    </ul>
                    <div class="form-group" ng-show="session.plexData.registered">If you've recently got access to more servers, reregister to allow them to sync status as well.</div>
                    <div class="form-group"><button ng-click="authAction()" ng-disabled="authForm.working" class="btn btn-default">Register to Plex Wathched Sync</button></div>
                    <div class="checkbox"><label><input type="checkbox" ng-model="debug" value="false">Debug</label></div>
                </form>
            </div>
        </div>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="./assets/appModule.js"></script>
    <script src="./assets/filters.js"></script>
    <script src="./assets/services.js"></script>
    <script src="./assets/controllers.js"></script>
</body>

</html>